main{
    width: 400px;
    margin: 0;
}
nav{
    width: 100%;
}
nav ul{
    border-bottom: 1px solid gray;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    padding: .5rem;
    border-top: gray;
    border-left: gray;
    border-right: 1px solid gray;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
nav ul a{
    text-decoration: none;
}
nav li.active{
    background-color: darkcyan;
    color: azure;
}
.hidden{
    display: none;
}